---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <p>
    You can also find my articles on
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </p>
{% endif %}

{% include base_path %}

{% assign sorted_publications = site.publications | sort: "date" | reverse %}

<h2>Journal Articles and Manuscripts</h2>
<hr />

{% for post in sorted_publications %}
  {% if post.category != "books" %}
    <div class="list__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h2 class="archive__item-title" itemprop="headline">
          {{ post.title }}
        </h2>

        {% if post.venue %}
          <p>
            Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
          </p>
        {% endif %}

        <p>
          <a href="{{ base_path }}{{ post.url }}">More information about this work</a>
        </p>

        {% if post.paperurl %}
          <p>
            <a href="{{ post.paperurl }}">Download Paper</a>
          </p>
        {% endif %}
      </article>
    </div>
  {% endif %}
{% endfor %}

<h2>Books</h2>
<hr />

{% for post in sorted_publications %}
  {% if post.category == "books" %}
    <div class="list__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h2 class="archive__item-title" itemprop="headline">
          {{ post.title }}
        </h2>

        {% if post.venue %}
          <p>
            Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
          </p>
        {% endif %}

        <p>
          <a href="{{ base_path }}{{ post.url }}">More information about this work</a>
        </p>

        {% if post.paperurl %}
          <p>
            <a href="{{ post.paperurl }}">Download Paper</a>
          </p>
        {% endif %}
      </article>
    </div>
  {% endif %}
{% endfor %}
