---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <p>
    You can also find my articles on
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </p>
{% endif %}

{% include base_path %}

{% assign sorted_publications = site.publications | sort: "date" | reverse %}

<h2>Journal Articles and Manuscripts</h2>
<hr />

{% for post in sorted_publications %}
  {% if post.category != "books" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Books</h2>
<hr />

{% for post in sorted_publications %}
  {% if post.category == "books" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
