---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
  <p style="text-decoration: underline;">
    <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
  </p>
{% endif %}

{% include base_path %}

{% assign sorted_talks = site.talks | sort: "date" | reverse %}

<h2>Talks and Presentations</h2>
<hr />

{% for post in sorted_talks %}
  <div class="list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        {{ post.title }}
      </h2>

      <p>
        {% if post.type %}{{ post.type }}{% endif %}
        {% if post.venue %}{% if post.type %}, {% endif %}<i>{{ post.venue }}</i>{% endif %}
        {% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
      </p>

      <p>
        <a href="{{ base_path }}{{ post.url }}">More information about this talk</a>
      </p>
    </article>
  </div>
{% endfor %}
