---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;">
  <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
</p>
{% endif %}

<h2>Conference Presentations</h2>

<ul>
  <li>
    <strong>A Data-Parsimonious Model for Long-Term Risk Assessments of West Nile Virus Spillover</strong><br>
    20-minute contributed talk, 10th Annual Meeting of the SIAM Central States Section,
    University of Arkansas, Fayetteville, AR, USA, October 11–12, 2025.<br>
    <a href="https://www.math.ksu.edu/~pietro/Conferences/2025SIAMCS/siam25_Hosseini.pdf" target="_blank">
      Slides
    </a>
  </li>
</ul>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
